<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <style>
        .todo {
            background-color: blanchedalmond;
            border-radius: 10px;
            width: 60%;
            text-align: center;


        }
    </style>
</head>

<body>
    <h1>Todolist</h1>
    {% for todo in todos %}
    <div class="todo">
        <h4>{{todo.created}}</h4>
        <h3>{{todo.title}}</h3>
        <p>{{todo.text}}</p>
        <u>{{todo.important}}</u>
    </div>
    {% endfor %}
</body>

</html>